@{
    ViewBag.Title = "About";
}
<h2>
    Kristy Currier
    <small class="text-muted">Developer</small>
</h2>

<p>Kristy is a developer located in Hamtramck, Michigan. Her background not only includes an eingeering degree but years of owning her own photography business.</p>

<p>She is currently looking for fulltime employeement in the Metro Detroit area as a developer.</p>

<h4>To contact her</h4>

<address>
    Email her at: <a href="mailto:kristy.currier@gmail.com">this email</a>.<br>
    Check out her <a href="https://www.linkedin.com/in/kristycurrier/">LinkedIn</a><br>
    Check out her <a href="https://github.com/kristycurrier">GitHub</a><br>
</address>