@{
    ViewBag.Title = "About";
}
<h1>
    Kristy Currier
    <small class="text-muted">Developer</small>
</h1>
<br />
<p>Kristy is a developer located in Hamtramck, Michigan. Her background not only includes an eingeering degree but years of owning her own photography business.
        She started getting involved in coding several years ago when she found Girl Devlop It to help her design a website for her business.</p>

<p>She is currently looking for full time employment in the Metro Detroit area as a developer.</p>

<p>Some skills include:</p>
<li>C#</li>
<li>HTML</li>
<li>CSS</li>
<li>JavaScript</li>

<h4>Find her online</h4>

    Check out her <a href="https://www.linkedin.com/in/kristycurrier/">LinkedIn</a><br>
    Check out her <a href="https://github.com/kristycurrier">GitHub</a><br>
