@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Kristy Currier<br />
    9458 Mitchell St<br />
    <strong>P:</strong> 248-259-2549
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:kristy.currier@gmail.com">Personal Email</a>
</address>