@{
    ViewBag.Title = "Portfolio";
}
<h2>@ViewBag.Title</h2>

<br />
<div>
    During Kristy's time at Grand Circus she had hands on experience with .Net development.
</div>


    <h4>Group Project</h4>
<div>
    <a href="https://github.com/kristycurrier/LibraryTerminal">Library Terminal</a> - The Library Terminal was a group project that employed GitHub, Pair Programing and Code Reviews.
</div>
<h4>Individual Coding</h4>
<div>
    <a href="https://github.com/kristycurrier/Lab20">Personal Website</a> - This website was built using MVC, Bootstrap Framework and features such as a sticky header.
</div>